@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.App {
  width: 350px;
  margin: auto;
  text-align: center;
}

.App .halfCircle {
  background-color: #1976d2;
  color: white;
  position: absolute;
  z-index: -1;
  height: 350px;
  width: 350px;
  top: -190px;
  border-radius: 175px;
}
